{% extends "basic.html" %}
{% block title %} Contact us page {% endblock title %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Contact</title>
    <style>
        .main{
            margin: auto;
            max-width: 1000px;
        }
        label{
            font-family: cursive;
            font-size: 1.4rem;
        }
        body{
        background-image: linear-gradient(to bottom right,rgb(255, 255, 255), purple);
        }
    </style>
</head>
{% block body %} 
<body>
    <script>
        includeHTML(basic.html);
        </script>
    <div class="main">
<h2>Contact Us...</h2><hr>
        <form method='POST' action="/contact/" >
          {% csrf_token %}
                <div class="form-row">
            
                <div class="col">
                    <label for="name"> Name</label>
                  <input type="text" id="name" name="name" class="form-control" placeholder="Enter full name">
                </div>
            
            </div><br>
            <div class="form-row">
                <div class="col">
                    <label for="phone">Contact no.</label>
                  <input type="number" id="phone" name="phone" class="form-control" placeholder="Enter contact no.">
                </div>
                <div class="col">
                    <label for="telephone">Telephone no.</label>
                  <input type="number" id="telephone" name="telephone" class="form-control" placeholder="Enter Telephone no.">
                </div>
              </div><br>
              <div class="form-row ">
                <div class="form-group col-md-2">
                    <label for="country">Country</label>
                    <select id="country" name="country" class="form-control">
                      <option selected>Choose...</option>
                      <option>India</option>
                      <option>US</option>
                      <option>Italy</option>
                      <option>Other</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="gender">Gender</label>
                    <select id="gender" name="gender" class="form-control">
                      <option selected>Choose...</option>
                      <option>Male</option>
                      <option>Female</option>
                      <option>Other</option>
                    </select>
                  </div>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" id="email" name="email" class="form-control" aria-describedby="emailHelp"
                    placeholder="Enter email">
                <small id="email" name="email"class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
                    </div> <br>
                <div class="col">
                <label for="desc">Description</label>
                <input type="text" id="desc" name="desc" class="form-control" placeholder="Description">
                </div>
        
            
             
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1" style="font-size: 1rem;">I agree the above terms and condition</label><br>
            </div>
            <button type="submit" class="btn btn-primary" onClick="parent.location='bas.html'">Submit</button>
        </form>
    </div>
    <br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
{% endblock body %}