<footer class="container-fluid text-center">
    <p>Go to the top</p>
    <a class="up-arrow" href="/home" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <hr>
    <p style="text-align: center;">&copy; Company 2017-2020</p>

    <div class="row text-center">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="/static/about.png" alt="About us" class="footerimage">
                <p><strong>About Us</strong></p>
                <hr>
                <p>Friday 27 November 2015</p>
                <button class="btn" data-toggle="modal" data-target="#myModal" href="/about">Click here to know us
                    better</button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="/static/Contact.jpg" alt="Contact us" class="footerimage">
                <p><strong>Contact Us</strong></p>
                <hr>
                <p>Send a mail :
                    <a href="#"><span class="glyphicon glyphicon-send"></span></a>
                    Message :
                    <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
                    Call us :
                    <a href="#"><span class="glyphicon glyphicon-earphone"></span></a>
                </p>
                <button class="btn" data-toggle="modal" data-target="#myModal" href="/contact">Click here to contact
                    us</button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="/static/follow.webp" alt="San Francisco" class="footerimage">
                <p><strong>Follow Us </strong><span class="glyphicon glyphicon-thumbs-up"></span></p>
                <hr>
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Twitter</a><br>
                <button class="btn" data-toggle="modal" data-target="#myModal">Click here to go on
                    social
                    handles</button>
            </div>
        </div>
        <p style="text-align: center;">&copy; Company 2017-2020</p>
    </div>
</div>
</footer>
</div>
