<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>log</title>
    <style>

    </style>
</head>

<body>
    {% for message in messages %}
<h5>{{message}}</h5>
{% endfor%}

    <div class="container">
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-title text-center">
                            <h4>Login</h4>
                        </div><br>
                        <div class="d-flex flex-column text-center">
                            <form method="post" action="/lin/">
                                 {% csrf_token %}
                                <div class="form-group">
                                    <label for="username" style="text-align: left;">Username</label>
                                    <input type="username" id="loginusername" name="loginusername" class="form-control" 
                                        placeholder="Enter username...">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password"  id="loginpassword" name="loginpassword" class="form-control"
                                        placeholder="Your password...">
                                </div>
                               
                                <button  class="btn btn-info btn-block btn-round">Login</button>
                            </form>
                            <br>
                            <p><span class="psw">Forgot <a href="#">password?</a></span>
                            <div class="text-center text-muted delimiter">or Login with</div>
                            <p><a href="#">Instagram</a>
                                <a href="#">Facebook</a><i class="bi bi-facebook"></i>
                                <a href="#">Twitter</a>
                            </p><br></p>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <div class="signup-section">Not a member yet? <a href="/register" class="text-info"> Sign
                                    Up</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $('#loginModal').modal('show');
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            });
        </script>
</body>

</html>