{% extends "basic.html" %}
{% block title %} Mental Stability {% endblock title %}


{% block body %}
<div main>
    <h1>Tips for Mental stability</h1>
    <hr>
    <p>
    <hr>
    <p>
    <h2>Yoga</h2>
    <h3
        style="text-align: left; font-family: Georgia, 'Times New Roman', Times, serif; font-style: normal;font-weight: 550;font-size: 2rem;">

     1. Respect the limits of your own body.</h3><br>
    <div class="elementcontent">
        <br>Can you bring your nose to touch your knee in Standing forward bend? Some people can bend more than others can. So bend only to your capacity. Love your body and respect the limits of your own body. You need not compare yourself with your neighbor or someone on TV. 

The thumb rule is to remain stable and comfortable in the yoga asanas. Neither push too hard and try to overdo things, nor be lazy. Do as much as you can - comfortably and with stability.
    </div> <br><br><hr>
    <p>
    <h3
        style="text-align: left; font-family: Georgia, 'Times New Roman', Times, serif; font-style: normal;font-weight: 550;font-size: 2rem;">
    2. Use the Yogic smile-meter</h3><br>
    <div class="elementcontent">
        <br>Do Yoga with a sense of joy. When you overdo a stretch, smile will be the first thing to vanish. If you are not smiling, know that you are not doing something right. Either you are stretching too much or you are not comfortable. Re-adjust your body to get your beautiful smile back. With regular practice, you will find a big improvement. 

Warm up: Do some sun salutations or some gentle exercises to loosen up before formally going deeper into other Yoga Asanas.
    </div> <br><br><br><hr>
    <p>
    <h3
        style="text-align: left; font-family: Georgia, 'Times New Roman', Times, serif; font-style: normal;font-weight: 550;font-size: 2rem;">
    3.Get the Yogic attitude. Go within.</h3><br>
    <div class="elementcontent">While doing yoga postures, using specific rhythms of the breath links the breath and the body. Keeping the attention on where the stretch is happening; this links the body and mind. The body, breath, and mind come together in harmony during yoga asana. This yogic attitude helps deepen your yoga practice. 
    </div> <br><br>
        <br>
    <h3
        style="text-align: left; font-family: Georgia, 'Times New Roman', Times, serif; font-style: normal;font-weight: 550;font-size: 2rem;">
    Meditation</h3><br>
    <div class="elementcontent">
        <br>It helps change your response to negative thinking
Depression can involve a lot of dark thoughts. You might feel hopeless, worthless, or angry at life (or even yourself). This can make meditation seem somewhat counterintuitive, since it involves increasing awareness around thoughts and experiences.

But meditation teaches you to pay attention to thoughts and feelings without passing judgment or criticizing yourself.

Meditation doesn’t involve pushing away these thoughts or pretending you don’t have them. Instead, you notice and accept them, then let them go. In this way, meditation can help disrupt cycles of negative thinking.
These simple steps can help you get started:
    </div> <br><br>
    <h3
        style="text-align: left; font-family: Georgia, 'Times New Roman', Times, serif; font-style: normal;font-weight: 550;font-size: 2rem;">
        1. Get comfortable</h3><br>

    <div class="elementcontent">It’s often helpful to sit down when first learning meditation, but if you feel better standing up or lying down, that works, too.
The key is to feel comfortable and relaxed. Closing your eyes can also help.

    </div>

    <br><br>
    <h3
        style="text-align: left; font-family: Georgia, 'Times New Roman', Times, serif; font-style: normal;font-weight: 550;font-size: 2rem;">
        2.Begin with your breath</h3><br>

    <div class="elementcontent">Take slow, deep breaths through your nose. For several seconds, just focus on breathing.
    Pay attention to:

how it feels to inhale
how it feels to exhale
the sounds of your breath
Your thoughts might wander away from your breath, and that’s pretty normal. Just keep redirecting your focus to breathing whenever you catch yourself thinking about something else.
    </div>
    <br><br>
    <h3
        style="text-align: left; font-family: Georgia, 'Times New Roman', Times, serif; font-style: normal;font-weight: 550;font-size: 2rem;">
        3. Move from breath to body</h3><br>
    <div class="elementcontent">Eventually, begin shifting your attention from your breath to the various parts of your body to perform what’s known as a body scan.

Start your body scan wherever you like. Some people find it more natural to start with their feet, while others prefer to start with their hands or head.

Focus your awareness on your body, moving from one part to the next. As you continue to breathe slowly and deeply, note how each body part feels.

Do any areas hurt? Or feel tense?

If you notice an unusual or troublesome sensation, like tension or aches, you can add a visualization exercise.

Imagine yourself sending relaxing breaths to that part of the body. Picture that tight muscle loosening and pain easing. Getting more comfortable with your bodily experiences and sensations can help you become more tuned in to changes as they come up.

When you’ve finished scanning your body, return your focus to your breathing for as long as you need.
        </p>
        <hr>
        <br>
        <h3> “Don't let yesterday take up too much of today.” ...</h3><br>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 h-30" id="picture"
                        src="/static/yoga.jpg"
                        alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 h-30" id="picture"
                        src="/static/meditation.jpg"
                        alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 h-30" id="picture"
                        src="/static/yoga2.jpg"
                        alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div><br>
{%endblock%}