<h1> Sign up below </h1>
<style>
h5{
    color: red;
    
}
</style>
{% for message in messages %}
<h5>{{message}}</h5>
{% endfor%}


<form method = "POST" action = "register">
   {% csrf_token %}   
   <p> Username : </p>
   <input type = "text" name="username" />
   <p> Email: </p>
   <input type = "email" name="email"/>
   <p> password : </p>
   <input type = "password" name="password" />
   <p> Repeat password: </p>
   <input type = "password" name="password2"/> <br>
   <input type = "submit" />

</form>