<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>sign</title>
    <style>

    </style>
</head>

<body>

    <div class="container">
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-title text-center">
                            <h4>Sign-up</h4>
                        </div><br>
                        <div class="d-flex flex-column text-center">
                            <form>
                                <div class="form-group">
                                    <label for="usr">Full Name</label>
                                    <input type="username" class="form-control" id="name"
                                        placeholder="Enter full name...">
                                </div>
                                <div class="form-group">
                                    <label for="usr">Contact no.</label>
                                    <input type="contact" class="form-control" id="contact"
                                        placeholder="Enter contact no...">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                        placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                        else.</small>
                                </div>
                                <div class="form-row ">
                                    <div class="form-group col-md-6">
                                        <label for="inputCountry">Country</label>
                                        <select id="inputCountry" class="form-control">
                                          <option selected>Choose...</option>
                                          <option>America</option>
                                          <option>India</option>
                                          <option>Russia</option>
                                          <option>Germany</option>
                                        </select>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputGender">Gender</label>
                                        <select id="inputGender" class="form-control">
                                          <option selected>Choose...</option>
                                          <option>Male</option>
                                          <option>Female</option>
                                          <option>Other</option>
                                        </select>
                                      </div>
                                </div>
                                <div class="form-group">
                                    <label for="usr">Username</label>
                                    <input type="username" class="form-control" id="username" name = 'username'
                                        placeholder="Enter username...">
                                </div>
                                <div class="form-group">
                                    <label for="usr">Password</label>
                                    <input type="password" class="form-control" id="password" name = 'password'
                                        placeholder="Your password...">
                                </div>
                                <div class="form-group">
                                    <label for="usr">Confirm Password</label>
                                    <input type="password" class="form-control" id="password2" name = 'password2'
                                        placeholder="Confirm password...">
                                </div>
                                <button type="button" class="btn btn-info btn-block btn-round"
                                    onClick="parent.location='/login/">Sign-up</button>
                            </form>
                            <br>
                            <div class="text-center text-muted delimiter">or Sign-up with</div>
                            <p><a href="#">Google</a>
                                <a href="#">Facebook</a>
                                <a href="#">Twitter</a>
                            </p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $('#loginModal').modal('show');
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            });
        </script>
</body>

</html>