{% extends "basic.html" %}
{% block title %} Test {% endblock title %}
{% block body %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet"type="text/css" href="test.css"> -->
    <!-- <script type="text/javascript" src="test.js"></script> -->
    <style>
        body {
            background-color: antiquewhite;
            color: black;
            font-size: 20px;
        }
        title{
            background-color: blueviolet;
        }
        .result{
            background-color: blueviolet;

        }
    </style>

</head>

<body>
    <p class="question"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8yhebTYYWTJFGoH33YZJsuKs2BPRwx1auCA&usqp=CAU"
        style="height:8vw;border-radius: 10px;"> So lets begin with a small test!</p>


    <form name="test" id="test" style="padding: 10px 10px;margin: 10px 10px;">
        <div class="quiz">
            <p class="question"> Q.1 Little interest or pleasure in doing things</p>
            <p><input type="radio" name="q1" value="1"> Not at all</p>
            <p><input type="radio" name="q1" value="2"> Several days</p>
            <p><input type="radio" name="q1" value="3"> More than half of the days</p>
            <p><input type="radio" name="q1" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p class="question">Q.2 Feeling down, depressed, or hopeless</p>
            <p><input type="radio" name="q2" value="1"> Not at all</p>
            <p><input type="radio" name="q2" value="2"> Several days</p>
            <p><input type="radio" name="q2" value="3"> More than half of the days</p>
            <p><input type="radio" name="q2" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p class="question">Q.3 Trouble falling or staying asleep, or sleeping too much</p>
            <p><input type="radio" name="q3" value="1"> Not at all</p>
            <p><input type="radio" name="q3" value="2"> Several days</p>
            <p><input type="radio" name="q3" value="3"> More than half of the days</p>
            <p><input type="radio" name="q3" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p class="question">Q.4 Feeling tired or having little energy</p>
            <p><input type="radio" name="q4" value="1"> Not at all</p>
            <p><input type="radio" name="q4" value="2"> Several days</p>
            <p><input type="radio" name="q4" value="3"> More than half of the days</p>
            <p><input type="radio" name="q4" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p class="question">Q.5 Trouble falling or staying asleep, or sleeping too much</p>
            <p><input type="radio" name="q5" value="1"> Not at all</p>
            <p><input type="radio" name="q5" value="2"> Several days</p>
            <p><input type="radio" name="q5" value="3"> More than half of the days</p>
            <p><input type="radio" name="q5" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p class="question">Q.6 Feeling bad about yourself - or that you are a failure or have let yourself or your family down</p>
            <p><input type="radio" name="q6" value="1"> Not at all</p>
            <p><input type="radio" name="q6" value="2"> Several days</p>
            <p><input type="radio" name="q6" value="3"> More than half of the days</p>
            <p><input type="radio" name="q6" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p class="question">Q.7 Trouble concentrating on things, such as reading the newspaper or watching television</p>
            <p><input type="radio" name="q7" value="1"> Not at all</p>
            <p><input type="radio" name="q7" value="2"> Several days</p>
            <p><input type="radio" name="q7" value="3"> More than half of the days</p>
            <p><input type="radio" name="q7" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p class="question">Q.8 Moving or speaking so slowly that other people could have noticed</p>
            <p><input type="radio" name="q8" value="1"> Not at all</p>
            <p><input type="radio" name="q8" value="2"> Several days</p>
            <p><input type="radio" name="q8" value="3"> More than half of the days</p>
            <p><input type="radio" name="q8" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p class="question">Q.9 Thoughts that you would be better off dead, or of hurting yourself</p>
            <p><input type="radio" name="q9" value="1"> Not at all</p>
            <p><input type="radio" name="q9" value="2"> Several days</p>
            <p><input type="radio" name="q9" value="3"> More than half of the days</p>
            <p><input type="radio" name="q9" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p class="question">Q.10 If you've had any days with issues above, how difficult have these problems made it for you at work,
                home, school, or with other people?</p>
            <p><input type="radio" name="q10" value="1"> Not at all</p>
            <p><input type="radio" name="q10" value="2"> Several days</p>
            <p><input type="radio" name="q10" value="3"> More than half of the days</p>
            <p><input type="radio" name="q10" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p class="question">Q.11 Poor appetite or overeating</p>
            <p><input type="radio" name="q11" value="1"> Not at all</p>
            <p><input type="radio" name="q11" value="2"> Several days</p>
            <p><input type="radio" name="q11" value="3"> More than half of the days</p>
            <p><input type="radio" name="q11" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p class="question">Q.12 Have you had thoughts about harming yourself or ending your life?</p>
            <p><input type="radio" name="q12" value="1"> Not at all</p>
            <p><input type="radio" name="q12" value="2"> Sometimes</p>
            <p><input type="radio" name="q12" value="3"> Several days</p>
            <p><input type="radio" name="q12" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p class="question">Q.13 How often have you been bothered by feeling tired, or having little energy over the last two weeks?</p>
            <p><input type="radio" name="q13" value="1"> Not at all</p>
            <p><input type="radio" name="q13" value="2"> Several days</p>
            <p><input type="radio" name="q13" value="3"> More than half of the days</p>
            <p><input type="radio" name="q13" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p class="question">Q.14 How often have you been bothered by feeling bad about yourself – or feeling that you are a failure, or that you have let yourself or your family down over the last two weeks?</p>
            <p><input type="radio" name="q14" value="1"> Not at all</p>
            <p><input type="radio" name="q14" value="2"> Several days</p>
            <p><input type="radio" name="q14" value="3"> More than half of the days</p>
            <p><input type="radio" name="q14" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p class="question">Q.15 Lost Concentration/Decision Making power?</p>
            <p><input type="radio" name="q15" value="1"> Not at all</p>
            <p><input type="radio" name="q15" value="2"> Several days</p>
            <p><input type="radio" name="q15" value="3"> More than half of the days</p>
            <p><input type="radio" name="q15" value="4"> Nearly everyday</p>
        </div>

        <!-- <div class="quiz">
            <p>Q.16 Trouble falling or staying asleep, or sleeping too much</p>
            <p><input type="radio" name="q16" value="1"> Not at all</p>
            <p><input type="radio" name="q16" value="2"> Several days</p>
            <p><input type="radio" name="q16" value="3"> More than half of the days</p>
            <p><input type="radio" name="q16" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p>Q.17 Trouble falling or staying asleep, or sleeping too much</p>
            <p><input type="radio" name="q17" value="1"> Not at all</p>
            <p><input type="radio" name="q17" value="2"> Several days</p>
            <p><input type="radio" name="q17" value="3"> More than half of the days</p>
            <p><input type="radio" name="q17" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p>Q.18 Trouble falling or staying asleep, or sleeping too much</p>
            <p><input type="radio" name="q18" value="1"> Not at all</p>
            <p><input type="radio" name="q18" value="2"> Several days</p>
            <p><input type="radio" name="q18" value="3"> More than half of the days</p>
            <p><input type="radio" name="q18" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p>Q.19 Trouble falling or staying asleep, or sleeping too much</p>
            <p><input type="radio" name="q19" value="1"> Not at all</p>
            <p><input type="radio" name="q19" value="2"> Several days</p>
            <p><input type="radio" name="q19" value="3"> More than half of the days</p>
            <p><input type="radio" name="q19" value="4"> Nearly everyday</p>
        </div>

        <div class="quiz">
            <p>Q.20 Trouble falling or staying asleep, or sleeping too much</p>
            <p><input type="radio" name="q20" value="1"> Not at all</p>
            <p><input type="radio" name="q20" value="2"> Several days</p>
            <p><input type="radio" name="q20" value="3"> More than half of the days</p>
            <p><input type="radio" name="q20" value="4"> Nearly everyday</p>
        </div> -->



        <button type="button" name="" value="submit" id="button" onclick="check() "
            class="btn btn-success btn-lg ">Submit</button>
    </form>
    <p id="result">
        <script>function check() {
            var c = 0;
            var q1 = document.test.q1.value;
            var q2 = document.test.q2.value;
            var q3 = document.test.q3.value;
            var q4 = document.test.q4.value;
            var q5 = document.test.q5.value;
            var q6 = document.test.q6.value;
            var q7 = document.test.q7.value;
            var q8 = document.test.q8.value;
            var q9 = document.test.q9.value;
            var q10 = document.test.q10.value;
            var q11 = document.test.q11.value;
            var q12 = document.test.q12.value;
            var q13 = document.test.q13.value;
            var q14 = document.test.q14.value;
            var q15 = document.test.q15.value;
            var result = document.getElementById('result');
            var quiz=document.getElementById('quiz');
            // var q16 = document.test.q16.value;
            // var q17 = document.test.q17.value;
            // var q18 = document.test.q18.value;
            // var q19 = document.test.q19.value;
            // var q20 = document.test.q20.value;
            // var result= document.getElelementById('result');





            if (q1 == "1") { c += 0.25 }
            if (q1 == "2") { c += 0.50 }
            if (q1 == "3") { c += 0.75 }
            if (q1 == "4") { c += 1.00 }

            if (q2 == "1") { c += 0.25 }
            if (q2 == "2") { c += 0.50 }
            if (q2 == "3") { c += 0.75 }
            if (q2 == "4") { c += 1.00 }

            if (q3 == "1") { c += 0.25 }
            if (q3 == "2") { c += 0.50 }
            if (q3 == "3") { c += 0.75 }
            if (q3 == "4") { c += 1.00 }

            if (q4 == "1") { c += 0.25 }
            if (q4 == "2") { c += 0.50 }
            if (q4 == "3") { c += 0.75 }
            if (q4 == "4") { c += 1.00 }

            if (q5 == "1") { c += 0.25 }
            if (q5 == "2") { c += 0.50 }
            if (q5 == "3") { c += 0.75 }
            if (q5 == "4") { c += 1.00 }

            if (q6 == "1") { c += 0.25 }
            if (q6 == "2") { c += 0.50 }
            if (q6 == "3") { c += 0.75 }
            if (q6 == "4") { c += 1.00 }

            if (q7 == "1") { c += 0.25 }
            if (q7 == "2") { c += 0.50 }
            if (q7 == "3") { c += 0.75 }
            if (q7 == "4") { c += 1.00 }

            if (q8 == "1") { c += 0.25 }
            if (q8 == "2") { c += 0.50 }
            if (q8 == "3") { c += 0.75 }
            if (q8 == "4") { c += 1.00 }

            if (q9 == "1") { c += 0.25 }
            if (q9 == "2") { c += 0.50 }
            if (q9 == "3") { c += 0.75 }
            if (q9 == "4") { c += 1.00 }

            if (q10 == "1") { c += 0.25 }
            if (q10 == "2") { c += 0.50 }
            if (q10 == "3") { c += 0.75 }
            if (q10 == "4") { c += 1.00 }

            if (q11 == "1") { c += 0.25 }
            if (q11 == "2") { c += 0.50 }
            if (q11 == "3") { c += 0.75 }
            if (q11 == "4") { c += 1.00 }

            if (q12 == "1") { c += 0.25 }
            if (q12 == "2") { c += 0.50 }
            if (q12 == "3") { c += 0.75 }
            if (q12 == "4") { c += 1.00 }

            if (q13 == "1") { c += 0.25 }
            if (q13 == "2") { c += 0.50 }
            if (q13 == "3") { c += 0.75 }
            if (q13 == "4") { c += 1.00 }

            if (q14 == "1") { c += 0.25 }
            if (q14 == "2") { c += 0.50 }
            if (q14 == "3") { c += 0.75 }
            if (q14 == "4") { c += 1.00 }

            if (q15 == "1") { c += 0.25 }
            if (q15 == "2") { c += 0.50 }
            if (q15 == "3") { c += 0.75 }
            if (q15 == "4") { c += 1.00 }

            // if (q16 == "1") { c += 0.25 }
            // if (q16 == "2") { c += 0.50 }
            // if (q16 == "3") { c += 0.75 }
            // if (q16 == "4") { c += 1.00 }

            // if (q17 == "1") { c += 0.25 }
            // if (q17 == "2") { c += 0.50 }
            // if (q17 == "3") { c += 0.75 }
            // if (q17 == "4") { c += 1.00 }

            // if (q18 == "1") { c += 0.25 }
            // if (q18 == "2") { c += 0.50 }
            // if (q18 == "3") { c += 0.75 }
            // if (q18 == "4") { c += 1.00 }

            // if (q19 == "1") { c += 0.25 }
            // if (q19 == "2") { c += 0.50 }
            // if (q19 == "3") { c += 0.75 }
            // if (q19 == "4") { c += 1.00 }

            // if (q20 == "1") { c += 0.25 }
            // if (q20 == "2") { c += 0.50 }
            // if (q20 == "3") { c += 0.75 }
            // if (q20 == "4") { c += 1.00 }

            var m = c * 5;
            test.style.display="none";
            
            document.getElementById('result').textContent=`Your test score =${m}` 
            

            // document.write("Your test score is = ")
            // document.write(m);
            // document.write("/75")
            // document.write("\n")






            if (m < 40) {
                document.getElementById('result').textContent=`Your test score =${c}. You are not suffering from depression` 
            }
            if (m <60 & m >= 40) {
                document.getElementById('result').textContent=`Your test score =${c}. You are suffering from mild depression. Do not take tension.Follow some tips from this website that will surely help you.` 
            }
            if (m <= 70 & m >= 60) {
                document.getElementById('result').textContent=`Your test score =${c}.You are suffering from moderate depression. Do not take tension.Follow some tips from this website that will surely help you.` 
            }
            if (m >= 70) {
                document.getElementById('result').textContent=`Your test score =${c}.There is chance that you are suffering from sever depression. Do not take tension.Follow some tips from this website that will surely help you also Take some professional help` 
            }



        }
    </script>


    </p>
    

    
    
    




</body>

</html>
{%endblock%}